.feed-content {
  /*flex-grow: 1;*/
  padding: 20px;
}

.feed-date {
  text-align: center;
  color: #b4b4b4;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  width: fit-content;
  margin: 0 auto 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.feed-btn {
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  padding: 10px;
  font: inherit;
  cursor: pointer;

  background: linear-gradient(to left, #fff 50%, #60cb3c 50%) right;
  background-size: 200%;
  transition: 0.3s ease-out;
}

.feed-btn:hover {
  background-position: left;
  color: white;
}
